@import url('https://fonts.googleapis.com/css?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css?family=Akronim|Raleway&display=swap');
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
}

.subtitle {
    color: #fff;
}

.text-title {
    font-family: 'Akronim', 'cursive';
    font-size: 7em;
    color: #fff;
}

.bg-title {
    /*background-image: linear-gradient(to bottom right, #ffb8b8, #63CCDA);*/
    background: url('img/yasmin.png') center center no-repeat;
    background-size: cover;
}

.rodap {
    background-color: #9A9696;
}

.bg-nav {
    background-color white;
}